body{
     background: url(https://bit.ly/31Sg7DF);
}

.container{
     width: 65%;
     height: 65%;
     margin-left: 15%;
     border-style: solid;
     border-width: 2px;
     margin-top: 20px;
     margin-bottom: 10px;
     background-color: #b2a7c4;
}


/* Headings*/
h1{
     font-style: italic;
     text-align: center;
     color: mediumvioletred;
     font-size: 50px;
     margin-top: 3%;
}


/* form  */
input{
     margin-bottom: 0px;
     padding: 15px;
     margin-top: 10px;
     background: black;
     color: white;
     font-size: medium;
     width: 50%;
     margin-left: 50px;
}

input [type="text"]{
     width: 200px;
}

select{
     margin-bottom:20px;
     width: 54%;
     padding: 15px;
     margin-top: 10px;
     background:black;
     margin-bottom: 10px;
     color: white;
     font-size: medium;
     border: white;
     margin-left: 50px;
}

::placeholder{
    color: white;
    font-size: medium;
}

label{
     width: 50px;
     font-style: inherit;
     font-size: x-large;
     color:hotpink;
     margin-left: 50px;
}

button{
     left: 50%;
     width: 80%; 
     padding: 20px;
     margin: 50px;
     margin-left: 10%; 
     font-size: 20px; 
     background: white;
     
}


/* paragraph */
p{
     font-size: 25px;
     margin-left: 10px;
     font-display: italic;
} 


/* data container */
.data{
     width: 80%;
     height: auto;
     line-height: 40px;
     margin: auto;
     background-color:  #b2a7c4;
}

/* nav bar */
nav a {
     display: flex;
     font-style: italic;
     font-size:40px;
     margin-top: 15px;
     color: white;
     background: #b2a7c4;
     width: 100px;
}


#dif{
     margin-left:90%;
}

#diff{
     margin-left: 20px;
}

/* paragraph container */
#p{
     width: 70%;
     margin-left: 13%;
     margin-top: 30px;
     border-style: double;
     border-width: 10px;
     background-color: #b2a7c4;
}

/* output */
#result{
     font-size: 30px;
     font-style: italic;
     text-align: center;
     color: #e81a24;
     margin-left: 30px;
}